### Ultrahack 2016 MyData - HSL:n kaupunkipyörät
    - HSL:n kaupunkipyörien kysynnän ennustaminen asema- ja tuntikohtaisesti
    - Perustuen:
        - Kaupunkipyöräpisteiden kapasiteettilokiin
        - Helsingin avoimeen säädataan

In [1]:
library(dplyr)
library(ggplot2)
library(geosphere)
library(caret)
library(ranger)
library(e1071)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Loading required package: sp
Loading required package: lattice

In [2]:
bikedata <- read.table('/users/ikonhen/omat/ultrahack/hsl_bike_data.csv', 
                       header = T, sep = '\t', stringsAsFactors = F)

weatherdata <- read.table('/users/ikonhen/omat/ultrahack/weather_data_combined.csv', 
                          header = T, sep = '\t', stringsAsFactors = F)
head(bikedata, 3)
head(weatherdata, 3)

         timestamp                      name operative style      lat      lon
1 20160426T141326Z        A21 Varsapuistikko      True       60.17310 24.94964
2 20160426T141326Z       B03 Haapaniemenkatu      True       60.18191 24.95688
3 20160426T141326Z B08 Sörnäisten metroasema      True       60.18770 24.96051
  total_slots free_slots avl_bikes
1          28         28         0
2          18         18         0
3          24         24         0

  TimeEEST TemperatureC Dew.PointC Humidity Sea.Level.PressurehPa VisibilityKm
1 12:20 AM           -1         -1      100                  1006        -9999
2 12:50 AM            1          0       93                  1006           10
3  1:20 AM            1          0       93                  1006        -9999
  Wind.Direction Wind.SpeedKm.h Gust.SpeedKm.h Precipitationmm Events
1            WNW            3.7              -              NA
2           West            9.3              -              NA
3            WNW            9.3              -              NA
     Conditions WindDirDegrees          DateUTC
1         Clear            300 20160331T212000Z
2 Mostly Cloudy            280 20160331T215000Z
3      Overcast            290 20160331T222000Z

 **Aggregoidaan datasetit:**
     - sekä HSL:n pyörä-, että yleinen Helsingin säädatasetti
     - aikamuuttujan konversio
     - jatkuvien aggregointi tuntitasolle
     - kevyttä piirrelaskentaa

In [3]:
bikedata %>%

    tbl_df %>%
    mutate(station = substr(name, 1 ,3),
           month = as.numeric(substr(timestamp, 5, 6)),
           dayofmonth = as.numeric(substr(timestamp, 7, 8)),
           dayofweek = as.POSIXlt(as.Date(substr(timestamp, 1, 8), format = '%Y%m%d'))$wday,
           hour = as.numeric(substr(timestamp, 10, 11)),
           minute = as.numeric(substr(timestamp, 12, 13))) %>%
    select(-name, -timestamp, -style, -minute) %>%
    group_by(station, month, lat, lon, total_slots, dayofmonth, hour, operative, dayofweek) %>%
    summarise(avg_availability = round(mean(avl_bikes)),
              max_availability = max(avl_bikes)) %>%
    mutate(hour_capacity_mean = round(avg_availability / total_slots)*100,
           hour_capacity_max = round(max_availability / total_slots)*100) -> bikedata

invisible(gc())
head(bikedata, 3)

  station month      lat      lon total_slots dayofmonth hour operative
1     A01     4 60.15541 24.95039          30         28    5      True
2     A01     4 60.15541 24.95039          30         28    8      True
3     A01     4 60.15541 24.95039          30         28    9      True
  dayofweek avg_availability max_availability hour_capacity_mean
1         4                0                0                  0
2         4                0                0                  0
3         4                0                0                  0
  hour_capacity_max
1                 0
2                 0
3                 0

In [4]:
getmode <- function(v) {
   uniqv <- unique(v)
   return(uniqv[which.max(tabulate(match(v, uniqv)))])
}

weatherdata[, c('DateUTC', 'TemperatureC', 'Humidity', 'Wind.SpeedKm.h', 'Conditions')] %>%

    tbl_df %>%
    mutate(month = as.numeric(substr(DateUTC, 5, 6)),
           dayofmonth = as.numeric(substr(DateUTC, 7, 8)),
           dayofweek = as.POSIXlt(as.Date(substr(DateUTC, 1, 8), format = '%Y%m%d'))$wday,
           hour = as.numeric(substr(DateUTC, 10, 11)),
           minute = as.numeric(substr(DateUTC, 12, 13)),
           cond_code = as.numeric(as.factor(Conditions)),
           windspeed = as.numeric(Wind.SpeedKm.h)) %>%
    select(-DateUTC, -minute, -Conditions, -Wind.SpeedKm.h) %>%
    group_by(month, dayofmonth, dayofweek, hour) %>%
    summarise(avg_temp = mean(TemperatureC), 
              avg_humidity = mean(Humidity),
              avg_windspeed = mean(windspeed),
              hour_condition = getmode(cond_code)) -> weatherdata

head(weatherdata, 3)

Warning message:
In eval(substitute(expr), envir, enclos): NAs introduced by coercion

  month dayofmonth dayofweek hour avg_temp avg_humidity avg_windspeed
1     3         31         4   21        0         96.5          6.50
2     3         31         4   22        1         93.0         10.20
3     3         31         4   23        1         93.0         12.05
  hour_condition
1              1
2             15
3             15

**Piirrelaskenta jatkuu:**
    - Asemien koordinaatit
    - Etäisyys lähimpään naapuriasemaan
    - Lähimmät kolme naapuriasemaa (asemakoodit)

In [5]:
station_info <- data.frame(station = unique(bikedata$station),
                           min_neighbor_dist = 0,
                           neighbor_1 = 'empty',
                           neighbor_2 = 'empty',
                           neighbor_3 = 'empty',
                           latitude = 0, 
                           longitude = 0)

factors <- sapply(station_info, is.factor)
station_info[factors] <- lapply(station_info[factors], as.character)                 

for (station in station_info$station) {
    stnumber <- grep(station, station_info$station)
    station_info[stnumber, c('latitude')] <- max(bikedata$lat[bikedata$station == station])
    station_info[stnumber, c('longitude')] <- max(bikedata$lon[bikedata$station == station])
}

head(station_info, 3)

  station min_neighbor_dist neighbor_1 neighbor_2 neighbor_3 latitude longitude
1     A01                 0      empty      empty      empty 60.15541  24.95039
2     A02                 0      empty      empty      empty 60.15971  24.95521
3     A03                 0      empty      empty      empty 60.15817  24.94481

In [6]:
for (station in station_info$station) {
    stnumber <- grep(station, station_info$station)
    other_stations <- station_info$station[-stnumber]
    distance <- c()
    results <- data.frame()
    i <- 1
    for (comparison in other_stations) {
        tryCatch({
            cmnumber <- grep(comparison, station_info$station)
            station_point <- station_info[stnumber, c('latitude', 'longitude')]
            comparison_point <- station_info[cmnumber, c('latitude', 'longitude')]
            distance[i] <- distHaversine(station_point, comparison_point)
            i <- i + 1
            }, error = function(e) { cat(paste("ERROR :", conditionMessage(e), station, comparison), "\n") })
    }
    results <- data.frame(station_1 = station, station_2 = other_stations, distance = distance)
    results <- results[order(distance), ]
    station_info[stnumber, c('min_neighbor_dist')] <- results[1, 3]
    station_info[stnumber, c('neighbor_1')] <- as.character(results[1, 2])
    station_info[stnumber, c('neighbor_2')] <- as.character(results[2, 2])
    station_info[stnumber, c('neighbor_3')] <- as.character(results[3, 2])
}

head(station_info, 3)

  station min_neighbor_dist neighbor_1 neighbor_2 neighbor_3 latitude longitude
1     A01          681.1153        A03        A02        A07 60.15541  24.95039
2     A02          690.4462        A01        A13        A11 60.15971  24.95521
3     A03          396.8976        A04        A06        A07 60.15817  24.94481

**Aineistojen yhdistely**
    - huhtikuun datat filtteröidään pois
    - tyhjien ja negatiivisten arvojen konversio nolliksi
    - char- muuttujien koodaus int- muotoon

In [8]:
include <- c('station', 'min_neighbor_dist', 'neighbor_1', 'neighbor_2', 'neighbor_3')

bikedata %>%

    left_join(station_info[, include], by = 'station', all.x = T) %>%
    left_join(weatherdata, by = c('month', 'dayofmonth', 'hour'), all.x = T) %>%
    select(-dayofweek.y, -avg_availability, -hour_capacity_max, -hour_capacity_mean) %>%
    filter(month > 4) -> training_data

training_data[is.na(training_data)] <- 0
training_data[training_data < 0] <- 0

for (feature in colnames(training_data)) {
    if (class(training_data[[feature]]) == 'character') {
        training_data[[feature]] <- as.numeric(as.factor(training_data[[feature]]))
    } 
}

head(training_data, 3)

  station month      lat      lon total_slots dayofmonth hour operative
1       1     5 60.15541 24.95039          30          1    8         1
2       1     5 60.15541 24.95039          30          2    6         1
3       1     5 60.15541 24.95039          30          2    7         1
  dayofweek.x max_availability min_neighbor_dist neighbor_1 neighbor_2
1           0                0          681.1153          2          1
2           1                0          681.1153          2          1
3           1                0          681.1153          2          1
  neighbor_3 avg_temp avg_humidity avg_windspeed hour_condition
1          4     14.0         55.0         11.10              1
2          4     12.5         44.0          4.65              1
3          4     14.0         35.5          8.35              1

In [26]:
holdout <- training_data[110000:nrow(training_data), ]
train <- training_data[1:109999, ]

rf_control <- trainControl(method = 'cv', number = 5, allowParallel = TRUE, verbose = T)

parallel_rf_search <- train(max_availability ~.,
                            data = train,
                            method = "ranger",
                            trControl = rf_control,
                            tuneGrid = expand.grid(mtry = c(2, 4, 6, 8, 10)),
                            num.trees = 200)

+ Fold1: mtry= 2
- Fold1: mtry= 2
+ Fold1: mtry= 4
- Fold1: mtry= 4
+ Fold1: mtry= 6
- Fold1: mtry= 6
+ Fold1: mtry= 8
Growing trees.. Progress: 93%. Estimated remaining time: 2 seconds.
- Fold1: mtry= 8
+ Fold1: mtry=10
Growing trees.. Progress: 86%. Estimated remaining time: 5 seconds.
- Fold1: mtry=10
+ Fold2: mtry= 2
- Fold2: mtry= 2
+ Fold2: mtry= 4
- Fold2: mtry= 4
+ Fold2: mtry= 6
- Fold2: mtry= 6
+ Fold2: mtry= 8
Growing trees.. Progress: 97%. Estimated remaining time: 1 seconds.
- Fold2: mtry= 8
+ Fold2: mtry=10
Growing trees.. Progress: 95%. Estimated remaining time: 1 seconds.
- Fold2: mtry=10
+ Fold3: mtry= 2
- Fold3: mtry= 2
+ Fold3: mtry= 4
- Fold3: mtry= 4
+ Fold3: mtry= 6
- Fold3: mtry= 6
+ Fold3: mtry= 8
Growing trees.. Progress: 97%. Estimated remaining time: 0 seconds.
- Fold3: mtry= 8
+ Fold3: mtry=10
Growing trees.. Progress: 94%. Estimated remaining time: 2 seconds.
- Fold3: mtry=10
+ Fold4: mtry= 2
- Fold4: mtry= 2
+ Fold4: mtry= 4
- Fold4: mtry= 4
+ Fold4: mtry= 6
- Fold4: mtry= 6
+ Fold4: mtry= 8
Growing trees.. Progress: 97%. Estimated remaining time: 0 seconds.
- Fold4: mtry= 8
+ Fold4: mtry=10
Growing trees.. Progress: 94%. Estimated remaining time: 2 seconds.
- Fold4: mtry=10
+ Fold5: mtry= 2
- Fold5: mtry= 2
+ Fold5: mtry= 4
- Fold5: mtry= 4
+ Fold5: mtry= 6
- Fold5: mtry= 6
+ Fold5: mtry= 8
Growing trees.. Progress: 97%. Estimated remaining time: 0 seconds.
- Fold5: mtry= 8
+ Fold5: mtry=10
Growing trees.. Progress: 93%. Estimated remaining time: 2 seconds.
- Fold5: mtry=10
Aggregating results
Selecting tuning parameters
Fitting mtry = 10 on full training set
Growing trees.. Progress: 75%. Estimated remaining time: 10 seconds.

In [27]:
parallel_rf_search

Random Forest

109999 samples
    17 predictor

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 88001, 88000, 87998, 88000, 87997
Resampling results across tuning parameters:

  mtry  RMSE      Rsquared
   2    4.333181  0.5225277
   4    3.568836  0.6853926
   6    3.217143  0.7423241
   8    3.125210  0.7552767
  10    3.067005  0.7638343

RMSE was used to select the optimal model using  the smallest value.
The final value used for the model was mtry = 10.